.home{
    margin: 50px;
    background-color: #FEFBF6;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 2px 4px 8px rgba(95, 95, 95, 0.61);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    h1{
       margin: 0px 0px 15px 0px;
       padding-bottom: 10px;
       
       border-bottom: 2px solid #d6d6d6;
       color: #565656;
    }
    a{
        color: #565656;
    }
}