.button {
}

.submit {
  margin-top: 25px;
  display: block;
  color: white;
  padding: 10px;
  font-size: 1.4rem;
  background-color: #573b75;
  border: none;
  border-radius: 12px;
  margin-left: auto;
  box-shadow: 2px 2px 4px rgb(139, 139, 139);
}
.submit:hover {
  background-color: #362844;
}
